<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                title bar
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/barmain/css/switchery.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/barmain/css/main.css') }}" type="text/css" media="all" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/barmain/js/jquery-2.1.4.min.js') }}" ></script>
            <script src="{{ asset('bundles/barmain/js/switchery.min.js') }}" ></script>
            <script src="{{ asset('bundles/barmain/js/main.js') }}" ></script>
        {% endblock %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link href='http://fonts.googleapis.com/css?family=Tinos:400,700|Kurale|Roboto+Slab:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        
            <script>
                $(function(){
                    var elem = document.querySelector('.js-switch');
                    Switchery(elem);
                    //var init = new Switchery(elem);
                });
            </script>
    </head>
    <body>
        <div id="columnLeft">
            <div class="leftMenu">
                <i class="fa fa-question-circle"></i>
                <div class="switch">
                    <input type="checkbox" id="color-toggler" name="info" class="js-switch" />
                    <label for="color-toggler" style="display: none;">Info:</label>
                </div>
            </div>
            <div class="content">
                <h1>Norwood Home Bar with Foot Rail</h1>
                <p class="subtitle">Private person</p>
                <div class="specification">
                    <div class="wrenchColumn">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <div class="numberColumn">
                        <ul class="first">
                            <li>Width:</li>
                            <li>Height:</li>
                            <li>Depth:</li>
                            <li>Material:</li>
                        </ul>
                        <ul class="second">
                            <li>200 cm.</li>
                            <li>120 cm.</li>
                            <li>65 cm.</li>
                            <li>White Oak</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="buttons">
                <i class="fa fa-picture-o"></i>
                <i class="fa fa-gear"></i>
                <i class="fa fa-arrows"></i>
            </div>
        </div>
        
        <div id="columnRight">
            <div class="header">
                <img id="logo" src="{{ asset('/bundles/barmain/images/logo2.png') }}">
                <a href="javascript:" id="burger" onclick="burger()"><i></i><i></i><s></s></a>
            </div>
            
            <div class="content">
                <div class="description">
                    <p>Perfect for entertaining, the Norwood bar will be a gorgeous addition to your home. Finished in a rich medium cherry this bar features a durable laminate top that resists heat, moisture, and scratches.</p>
                </div>
                <div class="info">
                    <p class="bold">Top material</p>
                    <p style="margin-top: 7px;">The same with main material.</p>
                    <p class="bold">Main material</p>
                    <p style="margin-top: 7px;">White Oak from Russia, Siberia.</p>
                </div>
                
                <div class="square">
                        <ul>
                            <li>Production time:</li>
                            <li>Stock availability:</li>
                            <li>Price:</li>
                            <li>Delivery:</li>
                        </ul>
                        <ul>
                            <li>2 weeks</li>
                            <li>No</li>
                            <li>850 $</li>
                            <li>35 $ in USA</li>
                        </ul>
                    </div>   
                <a class="main-button" href="#" style="">Buy</a>
            </div>       
                
        </div>
    </body>
</html>

